<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="loginmodal-container">
            <div class="loginmodal-container-2">
            <p>
              <strong>Name:</strong>
              <%= @training.name %>
            </p>
            
            <p>
              <strong>Date of completion:</strong>
              <%= @training.date_of_completion %>
            </p>
            
            <p>
              <strong>Duration:</strong>
              <%= @training.duration %>
            </p>
            
            <p>
              <strong>Training expiry:</strong>
              <%= @training.training_expiry %>
            </p>
            
            <p>
              <strong>Type:</strong>
              <%= @training.training_type %>
            </p>
            
            <p>
              <strong>Training provider:</strong>
              <%= @training.training_provider %>
            </p>
            
            <center><%= link_to 'Edit', edit_training_path(@training),class:"btn btn-primary" %>
            <%= link_to 'Back', trainings_path, class:"btn btn-primary" %></center>
          </div>
        </div>
    </div>
</div>      
