<div class="col-lg-9">
   <table class="table table-bordered white-bg">
    <tbody>
        <tr>
          <th>Profile Picture</th>
            <td><%= image_tag @user.avatar.url(:medium) %></td>
        </tr>
        <tr>
          <th>First Name</th>
            <td><%= @user.first_name %></td>
        </tr>
        <tr>
          <th>Last Name</th>
            <td><%= @user.last_name %></td>
        </tr>
        <tr>
          <th>Employee Number</th>
            <td><%= @user.employee_number %></td>
        </tr>
        
        <tr>
          <th>Trainings</th>
            <td>
               <ul>
                  <% @user.trainings.each do |training| %>
                  <li> <%= training.name %></li>
                  <% end %>
               </ul>
            </td>
        </tr>
        
        <tr>
          <th>Skills</th>
            <td>
               <ul>
                  <% @user.skills.each do |skill| %>
                  <li> <%= skill.name %></li>
                  <% end %>
               </ul>
            </td>
        </tr>
        <tr>
          <th>Role </th>
            <td><%= @user.role.humanize %></td>
        </tr>
    </tbody>
</table>
   
</div>

