

	<!--<div class="calendar"></div>-->
	<div class="col-lg-8">
		<% if current_user.super_admin? %>
			Number of Companies: <%= Company.count %> <br>
			Number of Shifts: <%= Shift.count %> <br>
			<% total  = Shift.all.map(&:duration).sum %>
			<% total_min = total / 1.minutes %>
			Number of Hours: <%= "#{total_min.to_i / 60} hours and #{total_min.to_i % 60} minutes" %> <br>
		<% elsif current_user.admin? or current_user.manager? %>
			Total Shifts booked: <%= current_user.company.shifts.where(shift_status: 'approved').count %> <br>
			<% total  = current_user.company.shifts.where(shift_status: 'approved').map(&:duration).sum %>
			<% total_min = total / 1.minutes %>
			Total Hours Booked: <%= "#{total_min.to_i / 60} hours and #{total_min.to_i % 60} minutes" %> <br>
		<% elsif current_user.employee? %>
			Company: <%= current_user.company.name %>
			Trainings:
			<ul>
				<% current_user.trainings.each do |training| %>
					<li><%= training.name %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>