<div class="col-lg-9">
    <div class="row">
        <div class="loginmodal-container">
            <div class="loginmodal-container-2 pt-3">
            <p>
              <strong>Start Time:</strong>
              <%= @shift.start_time %>
            </p>
            <p>
              <strong>End date:</strong>
              <%= @shift.end_time %>
            </p>
            <p>
              <strong>Manager:</strong>
              <%= @shift.manager.first_name %>
            </p>
            
            
            
            <p>
              <strong>Shift status:</strong>
              <%= @shift.shift_status %>
            </p>
            
            <p>
              <strong>Skills required:</strong>
              <%= @shift.skills_required %>
            </p>
            
            <p>
              <strong>External location:</strong>
              <%= @shift.external_location.name %>
            </p>
            
            <% if current_user.manager? %>
            <p>
              <strong>Assigned Employees:</strong>
              
              <ul>
                <% @shift.shift_users.each do |shift_user| %>
                  <li>
                    <%= shift_user.user.first_name %>
                      <ol>Accepted: <%= shift_user.accepted ? "Yes":"No" %></ol>
                      <ol> Confirmed by Manager: <%= shift_user.confirmed_by_manager ? "Yes":"No" %> </ol>
                    <ol><%= link_to 'Confirm Shift', confirm_shift_path(shift_user) if not shift_user.confirmed_by_manager %></ol>
                  </li>
                <% end %>
              </ul>
              
            </p>
            <% end %>
            
            
            <center><%= link_to 'Edit', edit_shift_path(@shift), class:"btn btn-primary" if can? :update, @shift %>
            <% shift_user =  ShiftUser.where(user_id: current_user.id, shift_id: @shift.id) %>
            <% if shift_user.present? and not shift_user.first.accepted  %>
              <%= link_to 'Accept Shift' , accept_shift_path(shift_user.first), class:"btn btn-primary",method: :put%>
            <% end %>
            <%#= link_to 'Back', shifts_path, class:"btn btn-primary" %></center>
             </div>
        </div>
    </div>
</div>    

