<div class="col-lg-8">
<h1>Companies</h1>

<table class="table table-bordered white-bg">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"> Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= link_to 'Show', company, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_company_path(company), class:"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', company, class:"btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Admin', make_admin_path(company), class:"btn btn-primary" if current_user.super_admin? %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path, class:"btn btn-primary" %>
</div>
</div>