<div class="row">
  <div class="col-lg-4 col-md-3">
    <h5>Company Information</h5>
    <p>
    <strong>Company Name:</strong>
    <%= @company.name %> </p>
    </hr>
    
    <p><strong>Tier:</strong>
    <%= @company.tier %></p>
    
    <p> <%= link_to 'Edit Company', edit_company_path(@company), class:"btn btn-primary" if can? :update, @company %></p>
    <p><%= link_to 'Add new Location', new_location_path, class:"btn btn-primary" if not current_user.super_admin? and can? :create, Location %></p>
    <p><%= link_to 'Add Admin', make_admin_path(@company), class:"btn btn-primary" if current_user.super_admin? %></p>
    <p><%= link_to 'Add new Employee', new_user_path, class:"btn btn-primary" if not current_user.super_admin? and can? :create, User %></p>
    
    <h5>Company Locations</h5>
    <ul>
      <% @company.locations.each do |location| %>
      
      <h5><%= location.name %></h5>
      <li><%= link_to 'Show', location, class:"btn btn-primary" %></li>
      <li><%= link_to 'Edit', edit_location_path(location), class:"btn btn-primary" %></li>
      <li><%= link_to 'Delete', location, method: :delete, class:"btn btn-warning", data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    </ul>
  
  </div>
  
  <div class="col-lg-8">
    
    <h5>Employees</h5>
    
    <% @company.users.each do |employee| %>
    <p><%= employee.first_name.present? ? "#{employee.first_name}":"Not Provided" %></p>
    <hr>
    <div class="col-sm-4"><p><%= link_to 'Schedule', user_schedule_path(employee),class:"btn btn-primary" if can? :schedule, employee %></p></div>
    <div class="col-sm-4"><p><%= link_to 'Edit', edit_user_path(employee), class:"btn btn-primary" %></p></div>
    <div class="col-sm-4"><p><%= link_to 'Delete', employee, method: :delete, class:"btn btn-warning", data: { confirm: 'Are you sure?'} %></p></div>
     <% end %>
   
  </div>
  
  <div class="row">
  <p><%= link_to 'Back', companies_path, class:"btn btn-primary" if can? :index, Company %></p>
  </div>
  
</div>




