
<p id="notice"><%= notice %></p>
<%= render 'layouts/sidebar' %>
<div class="col-lg-8">
  <strong>Company Name:</strong>
  <%= @company.name %>


<p id="notice"><%= notice %></p>

<h3>Company Locations</h3>

<table class="table table-bordered white-bg">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company.locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= link_to 'Show', location, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_location_path(location), class:"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', location, method: :delete, class:"btn btn-warning", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<h3>Company Employees</h3>

<table class="table table-bordered white-bg">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company.users.each do |employee| %>
      <tr>
        <td><%= employee.first_name.present? ? "#{employee.first_name}":"Not Provided" %></td>
        <!--<td><%#= link_to 'Show', location, class:"btn btn-primary" %></td>-->
        <td><%= link_to 'Edit', edit_user_path(employee), class:"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, class:"btn btn-warning", data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new Location', new_location_path, class:"btn btn-primary" if not current_user.super_admin? and can? :create, Location %> 
<%= link_to 'Add new Employee', new_user_path, class:"btn btn-primary" if not current_user.super_admin? and can? :create, User %>


<%= link_to 'Edit', edit_company_path(@company), class:"btn btn-primary" if can? :update, @company %> 
<%= link_to 'Back', companies_path, class:"btn btn-primary" if can? :index, Company %>
</div>
</div>