<!DOCTYPE html>
<html>
  <head>
    <title>Lambano People</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name= viewport content= width=device-width initial-scale=1>
  </head>

  <body>
    <%# unless params[:controller]=='home' && params[:action]=='admin' %>
      <%= render 'layouts/header' %>
      <% if notice || alert %>
        <div class="alert alert-info" role="alert">
          <strong>Info!</strong> <%= notice || alert %>
        </div>
      <% end %>
      
      
      <%# unless params[:controller]=='home' && params[:action]=='admin' %>
      <%# end %>  
        
      <div class="container">
        <div class="row">
          <% if user_signed_in? %>
            <% if (not params[:controller]=="user" and not (params[:action]=='create' or params[:action]=="new" or params[:action]=="edit") )%>
              <%= render 'layouts/sidebar.1' %>
            <% end %>
          <% end %>
          
          <main role="main", class="col-md-9 col-lg-12">
            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <%= yield %>
            </div>
          </main>

        
     

    <%# unless params[:controller]=='home' && params[:action]=='admin' %>
      <!--</div>-->
    <%# end %>
      
       </div>
      </div>
      <%= render 'layouts/footer' %>
  </body>
</html>
